
[Unit]
Description=adsb-graphs graph generation
After=collectd.service

[Service]
ExecStart=/usr/share/adsb-graphs/service-adsb-graphs.sh
SyslogIdentifier=adsb-graphs
RuntimeDirectory=adsb-graphs
RuntimeDirectoryMode=0755
Type=simple
Restart=always
RestartSec=30
Nice=19

[Install]
WantedBy=default.target
